.DZR_player{
    margin : auto;
    width:250px;
    display: block;
}

.DZR_cover-container{

}

.DZR_text-container{

}

.DZR_cover{
    width:250px;
    height:250px;
}

.DZR_init{
    font-size:28px;
    font-weight: bold;
    margin: 0;
}
    
.DZR_title{
    font-size:20px;
    font-weight: bold;
    margin: 0;
}

.DZR_artist{
    font-size:20px;
    margin: 0px;
}

.DZR_time{
    font-size:20px;
    margin: 0px;
}
